.editor {
  clear: both;
  min-height: 100px;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #acacac;
  outline: none;
  font-family: 'Lucida Grande', verdana, arial, sans-serif;
  font-size: 12px;
}

.editor p {
  margin: 0;
}

.editor_toolbar .toolbar_button {
  float: left;
  margin: 2px 5px;
}

.editor_toolbar {
  /*position: fixed;*/
}

.editor_toolbar .selected {
  border:1px solid #021a40;
}

#error {
  font: 18px helvetica, arial, sans-serif;
  color: red;
}

.editor img.selected {
   padding:1px;
   border:1px solid #021a40;
   background-color:#ff0;
}

.editor .block-left {
  text-align: left;
}
.editor .block-center {
  text-align: center;
}
.editor .block-right {
  text-align: right;
}

.editor .inline-left {
  float: left;
}
.editor .inline-right {
  float: right;
}
