@import "compass/css3";
@import "compass/utilities";

.editor {
  clear: both;
  min-height: 100px;
  outline: none;
}

.wysihat-framed {
  margin: 5px 0;
  padding: 5px;
  @include border-radius(3px);
  border: 1px solid #dedede;
  @include box-shadow (rgba(black, .2) 0 0 1px);
  @include transition-property(box-shadow);
  @include transition-duration(.5s);
}

.wysihat-scrollable {
  height: 200px;
  max-height: 200px;
  overflow: auto;
}

.wysihat-selected {@include box-shadow (rgba(blue, .2) 0 0 9px);}

.error .wysihat-selected {@include box-shadow (rgba(#B94A48, .2) 0 0 9px);}

.editor p {
  margin: 0;
}

.error .editor {
  color: #B94A48;
  border-color: #B94A48;
}

.editor_toolbar .toolbar_button {
  float: left;
  margin: 2px 5px;
}

.editor_toolbar {
  /*position: fixed;*/
}

.editor_toolbar .selected {
  background-color: #E6E6E6;
  background-color: #D9D9D9;
  background-image: none;
  outline: 0;
}

#error {
  font: 18px helvetica, arial, sans-serif;
  color: red;
}

.icon-h1 {
    background-image: url("h1.png");
}

.icon-h2 {
    background-image: url("h2.png");
}

.icon-h3 {
    background-image: url("h3.png");
}

.icon-underlined {
    background-image: url("underlined.png");
}

.icon-pull-right {
    background-image: url("pull-right.png");
}

.icon-pull-left {
    background-image: url("pull-left.png");
}

.icon-ol {
    background-image: url("ol.png");
}

.icon-link {
    background-image: url("link.png");
}

.icon-html {
    background-image: url("html.png");
}
.icon-undo {
    background-image: url("undo.png");
}
.icon-undo-unable {
    background-image: url("undo-unable.png");
}
.icon-redo {
    background-image: url("redo.png");
}
.icon-redo-unable {
    background-image: url("redo-unable.png");
}

.icon-h1, .icon-h2, .icon-h3,
.icon-underlined,
.icon-pull-right, .icon-pull-left,
.icon-ol,
.icon-link,
.icon-html,
.icon-undo, .icon-undo-unable, .icon-redo, .icon-redo-unable {
    background-position: 0;
}

.editor img.selected {
   padding: 1px;
   border:1px solid #021a40;
   background-color: blue;
}

.block-left {
  text-align: left;
}

.block-center {
  text-align: center;
}

.block-right {
  text-align: right;
}

.block-justify {
  text-align: justify;
}

.inline-left {
  float: left;
}

.inline-right {
  float: right;
}

.image-left {
  float: left;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.image-right {
  float: right;
}
